<div class="grid">
    <div class="col-12">
        <div class="card">
            <div style="margin-top: 10px;" class="grid grid-nogutter text-800">
                <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                    <section class="marginHome" style="width: 100%;">
                        <span class="block text-6xl font-bold mb-1">{{ 'home.title' | transloco }}</span>
                        <div class="text-5xl text-primary font-bold mb-3">{{ 'home.subtitle' | transloco }}</div>

                        <div class="mt-5">
                            <p-panelmenu [model]="menu_data" [style]="{'width':'100%'}" [multiple]="true" />
                        </div>
                    </section>
                </div>
                <div class="col-12 md:col-6 overflow-hidden hidden-xs">
                    <img src="./assets/domain/bg-image.jpg" alt="" class="md:ml-auto block md:h-full"
                        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
                </div>
            </div>
        </div>
    </div>
</div>
