<!-- INTRO -->
<div style="margin-top: 10px;" class="grid grid-nogutter surface-0 text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section class="marginHome" style="width: 100%;">
      <span class="block text-6xl font-bold mb-1">{{ 'intro.sitename' | translate }}</span>
      <div class="text-5xl text-primary font-bold mb-3">{{ 'intro.sub' | translate }}</div>

      <button pButton pRipple type="button" class="p-button-rounded p-button-danger" (click)="connectTo('github')" style="margin-bottom: 20px;"><fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp; GitHub</button>
      <button pButton pRipple type="button" class="p-button-rounded p-button-warning" (click)="connectTo('gplay')" style="margin-bottom: 20px;"><fa-icon [icon]="['fab', 'google-play']"></fa-icon>&nbsp; Google Play</button>
      <button pButton pRipple type="button" class="p-button-rounded" (click)="connectTo('link-in')" style="margin-bottom: 20px;"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>&nbsp; Linkedin</button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden hidden-xs">
    <img src="./assets/images/bg-home.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<!-- SKILLS -->
<div id="skills" class="grid grid-nogutter surface-0 text-800" style="margin-top: 20px;">
  <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
    <section>
      <div style="margin-left: 70px; width: 50%;">
        <span class="text-1xl text-primary font-bold mb-3">{{ 'skills.aboutme' | translate }}</span>
        <span class="block text-6xl font-bold mb-1 reduceTextTitle">{{ 'skills.skills' | translate }}</span>
        <p-divider></p-divider>
        <span class="text-1xl text-primary font-bold mb-3">{{ 'skills.sub' | translate }}</span>
      </div>
    </section>
  </div>
  <div class="col-12" style="margin-top: 30px; margin-bottom: 20px;">
    <div style="margin-left: 20px; margin-right: 20px;">
      <p-carousel [value]="skills" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="7000">
        <ng-template let-skill pTemplate="item">
          <p-card [header]="skill.title">
            <img *ngIf="skill.image" [src]="'./assets/images/logos/' + skill.image" [alt]="skill.name" width="100" class="p-shadow-2" />
            <p>{{skill.description}}</p>
          </p-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<!-- CERTIFICATION -->
<div id="certification" class="grid grid-nogutter surface-0 text-800" style="margin-top: 20px;">
  <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
    <section>
      <div style="margin-left: 20px; width: 50%;">
        <span class="text-1xl text-primary font-bold mb-3">{{ 'certification.aboutme' | translate }}</span>
        <span class="block text-6xl font-bold mb-1 reduceTextTitle">{{ 'certification.certification' | translate }}</span>
        <p-divider></p-divider>
        <span class="text-1xl text-primary font-bold mb-3">{{ 'certification.sub' | translate }}</span>
      </div>
    </section>
  </div>
  <div class="col-12" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="card">
      <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;" *ngFor="let cert of certification">
        <p-card [header]="cert.title" [subheader]="cert.dates">
          {{cert.notes}}
          <p-divider *ngIf="cert.url"></p-divider>
          <button *ngIf="cert.url" pButton pRipple type="button"  (click)="connectTo(cert.url)" class="p-button-rounded p-button-success">{{ 'certification.learnmore' | translate }}</button>
        </p-card>
      </div>
    </div>
  </div>
</div>

<!-- EDUCATION -->
<div id="education" class="grid grid-nogutter surface-0 text-800" style="margin-top: 20px;">
  <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
    <section>
      <div style="margin-left: 20px; width: 50%;">
        <span class="text-1xl text-primary font-bold mb-3">{{ 'education.aboutme' | translate }}</span>
        <span class="block text-6xl font-bold mb-1 reduceTextTitle">{{ 'education.education' | translate }}</span>
        <p-divider></p-divider>
        <span class="text-1xl text-primary font-bold mb-3">{{ 'education.sub' | translate }}</span>
      </div>
    </section>
  </div>
  <div class="col-12" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="card">
      <div style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;" *ngFor="let edu of education">
        <p-card [header]="edu.title" [subheader]="edu.period">
          {{edu.detail}}
          <ng-template pTemplate="footer">
            <button *ngIf="edu.abstract" pButton pRipple type="button" (click)="connectTo(edu.abstract)" class="p-button-rounded p-button-success">{{ 'education.abstract' | translate }}</button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>

<!-- EXPERIENCE -->
<div id="experience" class="grid grid-nogutter surface-0 text-800" style="margin-top: 20px;">
  <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
    <section>
      <div style="margin-left: 20px; width: 50%;">
        <span class="text-1xl text-primary font-bold mb-3">{{ 'experience.aboutme' | translate }}</span>
        <span class="block text-6xl font-bold mb-1 reduceTextTitle">{{ 'experience.experience' | translate }}</span>
        <p-divider></p-divider>
        <span class="text-1xl text-primary font-bold mb-3">{{ 'experience.sub' | translate }}</span>
      </div>
    </section>
  </div>
  <div class="col-12" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="card">
      <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card [header]="event.title" [subheader]="event.dates">
            <span class="text-1xl font-bold mb-3">{{event.qualification}}</span>
            <p-divider></p-divider>
            <p-inplace>
              <ng-template pTemplate="display">
                {{ 'experience.learnmore' | translate }}
              </ng-template>
              <ng-template pTemplate="content">
                <p>{{event.description}}</p>
              </ng-template>
            </p-inplace>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>

<!-- PROJECTS -->
<div id="projects" class="grid grid-nogutter surface-0 text-800" style="margin-top: 20px;">
  <div class="col-12" style="margin-top: 20px; margin-bottom: 20px;">
    <section>
      <div style="margin-left: 50px; width: 50%;">
        <span class="text-1xl text-primary font-bold mb-3">{{ 'projects.works' | translate }}</span>
        <span class="block text-6xl font-bold mb-1 reduceTextTitle">{{ 'projects.projects' | translate }}</span>
        <p-divider></p-divider>
        <span class="text-1xl text-primary font-bold mb-3">{{ 'projects.sub' | translate }}</span>
      </div>
    </section>
  </div>
  <div class="col-12" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="card">
      <p-carousel [value]="projects" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-project pTemplate="item">
          <p-card [header]="project.title" [subheader]="project.role">
            <p>{{project.description}}</p>
            <ng-template pTemplate="footer">
              <button *ngIf="project.link" pButton pRipple type="button" (click)="connectTo(project.link)" class="p-button-rounded p-button-success">{{ 'projects.learnmore' | translate }}</button>
            </ng-template>
          </p-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
